.context-menu {
	background-color: #444;
  position: absolute;
  /* text-align: center; */
  border: 1px solid black;
	z-index: 99997;
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.context-menu input {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
	background-color: #000;
	color: #fff;
  margin-bottom: 12px; /* Add some space below the input */
}

.context-menu table {
  width: 100%; /* Full-width */
  font-size: 13px; /* Increase font-size */
	line-height: 100%;
}

.context-menu table th, .context-menu table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

.context-menu table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #777;
}

.context-menu table .selected {
  /* Add a grey background color to the table header and on hover */
	background-color: #000;
}
