BasedOnStyle: LLVM

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignConsecutiveBitFields: true
# AlignAfterOpenBracket: AlwaysBreak
