*::-webkit-scrollbar {
    width: 10px;
    background: rgb(26 29 36);
}
*::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(51 54 59);
    border-radius: 6px;
    border: 4px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(41 45 51);
}
*::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
